<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <!-- jQuery because jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- TimeChart library for fast real-time plots -->
    <script src="https://d3js.org/d3-array.v2.min.js"></script>
    <script src="https://d3js.org/d3-color.v1.min.js"></script>
    <script src="https://d3js.org/d3-format.v1.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
    <script src="https://d3js.org/d3-time.v1.min.js"></script>
    <script src="https://d3js.org/d3-time-format.v2.min.js"></script>
    <script src="https://d3js.org/d3-scale.v3.min.js"></script>
    <script src="https://d3js.org/d3-selection.v1.min.js"></script>
    <script src="https://d3js.org/d3-axis.v1.min.js"></script>
    <script src="https://huww98.github.io/TimeChart/dist/timechart.min.js"></script>

    <!-- SocketIO for fast data streaming -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>

</head>

<body>
    <div style="height:80vh" class="row">
        <div class="col3">
            <div>
                <h1>Hola, {{current_user.username}}</h1>
                <h2>Usuarios Conectados:</h2>
                <ul id="users"></ul>
            </div>
            <h1>Controlador</h1>
            <input type="submit" style="width:100%;" value="Control Manual" id="ctrl-mode">

            <!-- Manual Control Div -->
            <div id="ctrl-div" class="control" hidden>
                <table>
                    <tr><th class="th-bottom-divider" colspan="3">Voltaje 1</th></tr>
                    <tr>
                        <br>
                        <th><input type="button" value="Cero" id="voltage1-zero"></th>
                        <th><input type="range" id="voltage1-slider" , min=-1 max=1 step=0.01></th>
                        <th><input type="text" name="v1" id="voltage1-text"></th>
                    </tr>
                    <tr><th class="th-bottom-divider" colspan="3">Voltaje 2</th></tr>
                    <tr>
                        <th><input type="button" value="Cero" id="voltage2-zero"></th>
                        <th><input type="range" id="voltage2-slider" , min=-1 max=1 step=0.01></th>
                        <th><input type="text" name="v2" id="voltage2-text"></th>
                    </tr>
                </table>
            </div>
            <br>

            <!-- Automatic Control Div -->
            <div id="pid-div" class="control">
                <table style="width:100%">
                    <!-- PID -->
                    <tr>
                        <th class="th-bottom-divider" colspan="2">Parametros PID</th>
                    </tr>
                    <tr>
                        <th class="left">Activar PID</th>
                        <th class="right"><input type="checkbox" name="pid-on" id="pid-on"><br></th>
                    </tr>
                    <tr>
                        <th class="left">Kp</th>
                        <th class="right"><input class="fit" type="number" id="Kp-gain" name="Kp" value="0.0"></th>
                    </tr>
                    <tr>
                        <th class="left">Kd</th>
                        <th class="right"><input class="fit" type="number" id="Kd-gain" name="Kd" value="0.0"></th>
                    </tr>

                    <tr>
                        <th class="left">Ki</th>
                        <th class="right"><input class="fit" type="number" id="Ki-gain" name="Ki" value="0.0"></th>
                    </tr>
                    <!-- Anti windup -->
                    <tr>
                        <th class="th-bottom-divider" colspan="2">Anti <i>wind-up</i></th>
                    </tr>
                    <tr>
                        <th class="left">Activar</th>
                        <th class="right"><input type="checkbox" name="windup-on" id="anti-windup-on"></th>
                    </tr>

                    <tr>
                        <th class="left">Valor</th>
                        <th class="right"><input type="number" id="anti-windup-gain" name="Ki-windup" value="0.0"></th>
                    </tr>

                </table>
            </div>
        </div>
        <div class="col3">
            <h1>Voltajes</h1>
            <div class="row, chart" id="v1"></div>
            <div class="row, chart" id="v2"></div>
        </div>
        <div class="col3">
            <h1>Alturas</h1>
            <div class="chart" id="h1"></div>
            <div class="chart" id="h2"></div>
            <div class="chart" id="h3"></div>
            <div class="chart" id="h4"></div>
        </div>
    </div>
    <div style="height:10vh" class="row">
        <div class="col3">
            <h1>Column 1</h1>
        </div>
        <div class="col3">
            <h1>Column 2</h1>
        </div>
        <div class="col3" style="height:min-content">
            <h3>Opciones</h3>
            <!-- Refresh Rate options -->
            <label for="refresh-rate">
                <a
                    title="Más alto => Gráficos más suaves pero mayor consumo de CPU. Los datos seguirán llegando en tiempo real.">?</a>
                Tasa visual
            </label>
            <select name="refresh-rate" id="refresh-rate">
                <option value="fast">Alta (tiempo real)</option>
                <option value="med">Media (÷30)</option>
                <option value="slow">Baja (÷120)</option>
            </select>
            <br>
            <!-- Color Scheme -->
            <!-- <label for="refresh-rate">
                <a title="Más alto => Gráficos más suaves pero mayor consumo de CPU">?</a> Tasa visual
            </label>
            <select name="refresh-rate" id="refresh-rate">
                <option value="fast">Alta (tiempo real)</option>
                <option value="med">Media (÷5)</option>
                <option value="slow">Baja (÷120)</option>
            </select> -->
        </div>
    </div>

    <!-- Client-side dashboard script -->
    <script type="text/javascript" src="{{url_for('static', filename='js/dashboard.js')}}"></script>
</body>