<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <!-- jQuery because jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- TimeChart library for fast real-time plots -->
    <script src="https://d3js.org/d3-array.v2.min.js"></script>
    <script src="https://d3js.org/d3-color.v1.min.js"></script>
    <script src="https://d3js.org/d3-format.v1.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
    <script src="https://d3js.org/d3-time.v1.min.js"></script>
    <script src="https://d3js.org/d3-time-format.v2.min.js"></script>
    <script src="https://d3js.org/d3-scale.v3.min.js"></script>
    <script src="https://d3js.org/d3-selection.v1.min.js"></script>
    <script src="https://d3js.org/d3-axis.v1.min.js"></script>
    <script src="https://huww98.github.io/TimeChart/dist/timechart.min.js"></script>

    <!-- SocketIO for fast data streaming -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>

</head>

<body>
    <div style="height:80vh" class="row">
        <div class="col3">
            <div>
                <h1>Hola, {{current_user.username}}</h1>
                <h2>Usuarios Conectados:</h2>
                <ul id="users"></ul>
            </div>

            <!-- Plant parameters -->

            <div id="params-div">
                <table style="width:100%">
                    <tr>
                        <th class="th-bottom-divider" colspan="2">Parametros del sistema</th>
                    </tr>
                    <tr>
                        <th class="left">Gamma 1</th>
                        <th class="right"><input class="fit" type="number" id="gamma1" name="g1" value="0.4", min="0", max="1"></th>
                    </tr>
                    <tr>
                        <th class="left">Gamma 2</th>
                        <th class="right"><input class="fit" type="number" id="gamma2" name="g2" value="0.4", min="0", max="1"></th>
                    </tr>
                </table>
            </div>

            <h1>Controlador</h1>
            <input type="submit" style="width:100%;" value="Control Manual" id="ctrl-mode">

            <!-- Manual Control Div -->
            <div id="ctrl-div" class="control" hidden>

                <!-- Tabs -->
                <div class="tab">
                <button class="tablinks" id="tab-fixed">Voltaje Fijo</button>
                <button class="tablinks" id="tab-sine">Sinusoide</button>
                </div>

                <!-- Fixed value -->
                <table id="ctrl-fixed" hidden>
                    <tr><th class="th-bottom-divider" colspan="3">Voltaje 1</th></tr>
                    <tr>
                        <th><input type="button" name="v1-zero" value="Cero" id="voltage1-zero"></th>
                        <th><input type="range" id="voltage1-slider" , min=-1 max=1 step=0.01></th>
                        <th><input type="text" name="v1" id="voltage1-text"></th>
                    </tr>
                    <tr><th class="th-bottom-divider" colspan="3">Voltaje 2</th></tr>
                    <tr>
                        <th><input type="button" name="v2-zero" value="Cero" id="voltage2-zero"></th>
                        <th><input type="range" id="voltage2-slider" , min=-1 max=1 step=0.01></th>
                        <th><input type="text" name="v2" id="voltage2-text"></th>
                    </tr>
                </table>

                <!-- Sinusoid -->
                <table id="ctrl-sine" hidden>
                    <tr><th class="th-bottom-divider" colspan="4">Voltaje 1</th></tr>
                    <tr><th></th><th>Amplitud</th><th>Desfase</th><th>Frecuencia</th></tr>
                    <tr>
                        <th><input type="button" id="v1-sine-on" value="Activar"></th>
                        <th><input type="range" id="v1-sine-amp" min=-1 max=1 step=0.01 value=1></th>
                        <th><input type="range" id="v1-sine-offset" min=-90 max=90 step=0.01 value=0></th>
                        <th><input type="text"  id="v1-sine-freq" value=1></th>
                    </tr>
                    <tr><th class="th-bottom-divider" colspan="4">Voltaje 2</th></tr>
                    <tr></tr>
                    <tr><th></th><th>Amplitud</th><th>Desfase</th><th>Frecuencia</th></tr>
                    <tr>
                        <th><input type="button" id="v2-sine-on" value="Activar" ></th>
                        <th><input type="range" id="v2-sine-amp" min=-1 max=1 step=0.01 value=1></th>
                        <th><input type="range" id="v2-sine-offset" min=-90 max=90 step=0.01 value=0></th>
                        <th><input type="text" id="v2-sine-freq" value=1></th>
                    </tr>
                </table>
            </div>
            <br>

            <!-- Automatic Control Div -->
            <div id="pid-div" class="control">
                <table style="width:100%">
                    <!-- PID -->
                    <tr>
                        <th class="th-bottom-divider" colspan="2">Parametros PID</th>
                    </tr>
                    <tr>
                        <th class="left">Activar PID</th>
                        <th class="right"><input type="checkbox" name="pid-on" id="pid-on"><br></th>
                    </tr>
                    <tr>
                        <th class="left">Referencia H1</th>
                        <th class="right"><input class="fit" type="number" id="h1-reference" name="H1" value="40.0"></th>
                    </tr>
                    <tr>
                        <th class="left">Referencia H2</th>
                        <th class="right"><input class="fit" type="number" id="h2-reference" name="H2" value="40.0"></th>
                    </tr>
                    <tr>
                        <th class="left">Kp</th>
                        <th class="right"><input class="fit" type="number" id="Kp-gain" name="Kp" value="0.0"></th>
                    </tr>
                    <tr>
                        <th class="left">Kd</th>
                        <th class="right"><input class="fit" type="number" id="Kd-gain" name="Kd" value="0.0"></th>
                    </tr>

                    <tr>
                        <th class="left">Ki</th>
                        <th class="right"><input class="fit" type="number" id="Ki-gain" name="Ki" value="0.0"></th>
                    </tr>
                    <!-- Anti windup -->
                    <tr>
                        <th class="th-bottom-divider" colspan="2">Anti <i>wind-up</i></th>
                    </tr>
                    <tr>
                        <th class="left">Activar</th>
                        <th class="right"><input type="checkbox" name="windup-on" id="antiwindup-on"></th>
                    </tr>

                    <tr>
                        <th class="left">Valor</th>
                        <th class="right"><input type="number" id="antiwindup-gain" name="Ki-windup" value="0.0"></th>
                    </tr>

                </table>
            </div>
        </div>
        <div class="col3">
            <h1>Voltajes</h1>
            <div class="row, chart" id="v1"></div>
            <div class="row, chart" id="v2"></div>

            <h1 style="margin-bottom:-10px">Alarmas</h1>
            <div id="alarm-container" style="display: grid;grid-template-columns: auto auto;justify-content: space-evenly;">
                <div class="alarm" id="1" state="good">Tanque 1<h3></h3></div>
                <div class="alarm" id="2" state="good">Tanque 2<h3></h3></div>
                <div class="alarm" id="3" state="good">Tanque 3<h3></h3></div>
                <div class="alarm" id="4" state="good">Tanque 4<h3></h3></div>
            </div>
        </div>
        <div class="col3">
            <h1>Alturas</h1>
            <div class="chart" id="h1"></div>
            <div class="chart" id="h2"></div>
            <div class="chart" id="h3"></div>
            <div class="chart" id="h4"></div>
        </div>
    </div>
    <div style="height:10vh" class="row">
        <div class="col3">
            <h1>Column 1</h1>
        </div>
        <div class="col3">
            <h1>Descargas</h1>
            <div id="dl-buttons"style="display: grid;grid-template-columns: auto auto auto;justify-content: space-evenly;" >
                <form action="/download-JSON">
                    <input type="submit" value="JSON">
                </form>
                <form action="/download-CSV">
                    <input type="submit" value="CSV">
                </form>
                <form action="/download-XLS">
                    <input type="submit" value="XLS">
                </form>
            </div>
        </div>
        <div class="col3" style="height:min-content">
            <h3>Opciones</h3>
            <!-- Refresh Rate options -->
            <label for="refresh-rate">
                <a
                    title="Más alto => Gráficos más suaves pero mayor consumo de CPU. Los datos seguirán llegando en tiempo real.">?</a>
                Tasa visual
            </label>
            <select name="refresh-rate" id="refresh-rate">
                <option value="fast">Alta (tiempo real)</option>
                <option value="med">Media (÷3)</option>
                <option value="slow">Baja (÷9)</option>
            </select>
            <br>
            <!-- Color Scheme -->
            <!-- <label for="refresh-rate">
                <a title="Más alto => Gráficos más suaves pero mayor consumo de CPU">?</a> Tasa visual
            </label>
            <select name="refresh-rate" id="refresh-rate">
                <option value="fast">Alta (tiempo real)</option>
                <option value="med">Media (÷5)</option>
                <option value="slow">Baja (÷120)</option>
            </select> -->
        </div>
    </div>

    <!-- Client-side dashboard script -->
    <script type="text/javascript" src="{{url_for('static', filename='js/dashboard.js')}}"></script>
</body>